<h2 class="country_title">{{name}}</h2>
<div class="country_entires">
    <ul class="country_entires__list list">
        <li class="country_entires__item">
            Capital: <span class="country_entires__value">{{capital}}</span>
        </li>
        <li class="country_entires__item">
            Population: <span class="country_entires__value">{{population}}</span>
        </li>
        <li class="country_entires__item">
            Languages:
            <ul class="country_language_list">
                {{#each languages}}
                <li class="country_language__item">{{name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="country_flag" width="320" src="{{flag}}" alt="{{name}} flag" />
</div>